<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- TemplateBeginEditable name="doctitle" -->
<title></title>
<!-- TemplateEndEditable -->
<!-- TemplateBeginEditable name="head" -->
<!-- TemplateEndEditable -->
<link href="../estilo.css" rel="stylesheet" type="text/css" />
<style type="text/css">
body,td,th {
	font-weight: lighter;
}
body {
	background-color: #DFDFDF;
}
#FOTO_DE_ESCUDO {
	background-color: #306;
	padding: 2px;
	float: right;
	margin-top: 40px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 5px;
	border: 2px solid #906;
}
#FOTO_CLIMA {
}
#FOTO_CLIMA {
	background-color: #906;
	padding: 2px;
	margin-top: 40px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 5px;
	border: 2px solid #909;
	float: right;
}
</style>
</head>

<body>

<p>&nbsp;</p>
<div class="container">
  <div class="red_arriba"></div>
  <div class="header">
    <h1 align="center"><img src="../imagenes/6ca51-quimicos2b18.gif" width="47" height="67" />LA TABLA PERIÓDICA<img src="../imagenes/zc.gif" width="57" height="67" /></h1>
    <h2 align="center"><em>La química es diversión</em></h2>
  </div>
  <div class="sidebar1">
    <ul class="nav">
      <li><a href="inicio.htm">Inicio</a></li>
      <li><a href="Historia.htm">Historia </a></li>
      <li><a href="../tabla.html/tablap.html">Tabla periódica </a></li>
      <li><a href="QuienesSomos.htm">Quiénes Somos</a></li>





    </ul>
    <!-- end .sidebar1 --></div>
  <div class="content">
    <div class="content_content">
      <h2><!-- TemplateBeginEditable name="TITULO" -->LA TABLA PERIÓDICA<!-- TemplateEndEditable --></h2>
      <!-- TemplateBeginEditable name="CONTENIDO" -->
     <h3>¿Qué es la Química General?     </h3>
     <p><img src="../imagenes/tumblr_o4ii5k93Hs1vokt0mo1_1280.gif" width="606" height="50" />La química general es la base de todas las químicas y en ella fundamentalmente se trabajan: los protones, los electrones y los neutrones, que son partículas simples. También aparecen, en esto contexto, partículas compuestas como los átomos, las moléculas y los núcleos atómicos. La química general, por otro lado, estudia los principios de las reacciones químicas (el proceso que permite el intercambio energético entre un sistema y su entorno).</p>
     <p>&nbsp;</p>
     <p><img src="../imagenes/tumblr_livkou753t1qzk2tbo1_500.gif" width="587" height="137" /></p>
     <h3>¿Qué es la una tabla periódica?</h3>
     <p>La tabla periódica de los elementos clasifica, organiza y distribuye los distintos elementos químicos conforme a sus propiedades y características; su función principal es establecer un orden específico agrupando elementos.Suele atribuirse la tabla a Dmitri Mendeléyev, quien ordenó los elementos basándose en sus propiedades químicas, si bien Julius Lothar Meyer, trabajando por separado, llevó a cabo un ordenamiento a partir de las propiedades físicas de los átomos.     </p>
    <!-- TemplateEndEditable --></div>
    <!-- end .content --></div>
  <div class="footer">
    <p> Copyright © 2019  LA TABLA PERÍODICA</p>
    <p>&nbsp;</p>
    <!-- end .footer --></div>
  <!-- end .container --></div>
</body>
</html>
