<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- TemplateBeginEditable name="doctitle" -->
<title></title>
<!-- TemplateEndEditable -->
<!-- TemplateBeginEditable name="head" -->
<!-- TemplateEndEditable -->
<link href="../estilo.css" rel="stylesheet" type="text/css" />
<style type="text/css">
body,td,th {
	font-weight: lighter;
}
body {
	background-color: #DFDFDF;
}
#FOTO_DE_ESCUDO {
	background-color: #306;
	padding: 2px;
	float: right;
	margin-top: 40px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 5px;
	border: 2px solid #906;
}
#FOTO_CLIMA {
}
#FOTO_CLIMA {
	background-color: #906;
	padding: 2px;
	margin-top: 40px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 5px;
	border: 2px solid #909;
	float: right;
}
</style>
</head>

<body>

<p>&nbsp;</p>
<div class="container">
  <div class="red_arriba"></div>
  <div class="header">
    <h1><img src="../imagenes/6ca51-quimicos2b18.gif" width="47" height="67" />LA TABLA PERIÓDICA<img src="../imagenes/zc.gif" width="57" height="67" /></h1>
    <h2><em>La química es diversión  </em></h2>
  </div>
  <div class="sidebar1">
    <ul class="nav">
      <li><a href="inicio.htm">Inicio </a></li>
      <li><a href="Historia.htm">Historia </a></li>
      <li><a href="../tabla.html/tablap.html">Tabla periódica </a></li>
      <li><a href="QuienesSomos.htm">Quiénes Somos </a></li>





    </ul>
    <!-- end .sidebar1 --></div>
  <div class="content">
    <div class="content_content">
      <h2><!-- TemplateBeginEditable name="TITULO" -->Quiénes Somos<!-- TemplateEndEditable --></h2>
     <!-- TemplateBeginEditable name="CONTENIDO" -->
     <h3>Acerca de nosotros</h3>
     <p dir="ltr">Somos estudiantes de la Licenciatura de Tecnologías de la Información de la División de Informática y Sistemas de la Universidad Juárez Autónoma de Tabasco.</p>
     <p dir="ltr"> Como parte de un proyecto académico de la materia de tecnologías y Sistemas Web, hemos realizado una aplicación Web con el objetivo de brindar una información adecuada y práctica a los estudiantes Ing. Química con el fin de que conozcan los elementos de la tabla periódica que tendrá la función principal fomentar el autoaprendizaje de los estudiantes de la División de Ingeniería y Arquitectura de la Universidad Juárez Autónoma de Tabasco.</p>
     <p dir="ltr">Editores: Beatriz Sánchez Damián &amp; Cristhian López Martínez.</p>
     <p dir="ltr">Editora asesora: Dra. Laura Beatriz Vidal Turrubiates.<br />
     </p>
     <p>&nbsp;</p>
<!-- TemplateEndEditable --></div>
    <!-- end .content --></div>
  <div class="footer">
    <p>Copyright © 2019  LA TABLA PERIÓDICA.</p>
    <!-- end .footer --></div>
  <!-- end .container --></div>
</body>
</html>
